:root {
    /* font-family */

    --font-family: 'Mulish', sans-serif;


    // colors
    --light:  #9c9a9a;
    --primary: #414141;
    --dark: #1d1d1d;
    --text: #333;
    --background: #fafafa;
    --hint: #999;
}